$orange-shade: #fda700;
$white-shade: #ffffff;
$red-shade: #d4175c;
$black-shade: #000000;
$grey-shadow: #f7f7f7;
$green-dark-shade: #40c294;
$light-grey-shade: #f8f8f8;
$dark-grey-shade: #686868;
$moderate-grey-shade: #bababa;

$background-shade-1: -o-linear-gradient(330 deg, #f9488b 0%, #ee8425 100%),
	-o-linear-gradient(330deg, #f9488b 0%, #ee8425 100%) !important;
$background-shade-2: linear-gradient(120deg, #f9488b 0%, #ee8425 100%),
	linear-gradient(120deg, #f9488b 0%, #ee8425 100%) !important;
