@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../styles/color-rules.scss';
@import '../styles/typography-rules.scss';

.csvLink {
	background-color: #286090 !important;
	padding: 8px !important;
	text-transform: none !important;
	border-radius: 8px !important;
	color: white !important; /* blue colors for links too */
	text-decoration: inherit;
	float: right;
}

.verticalTabUpperWrap {
	// position: fixed !important;
	background: $white-shade !important;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	max-width: 1245px !important;
	margin-left: auto;
	margin-right: auto;
	margin-top: 148px !important;

	.verticalTabWrapper {
		position: fixed !important;
		width: 300px !important;
		min-height: 100vh !important;
		background-color: $orange-shade !important;
		border-radius: 8px;
		border-top-right-radius: 0px !important;
		border-bottom-right-radius: 0px !important;
		.navLink {
			color: $white-shade !important;
			@include body-Regular16;
			padding: 18px !important;
			&:hover {
				background: $black-shade !important;
			}
		}
		.selectedNavLink {
			color: $white-shade !important;
			@include body-Regular16;
			padding: 18px !important;
			background: $black-shade !important;
		}
	}
	.verticalComponentWrapper {
		padding: 20px !important;
		margin-left: 300px !important;
		min-height: 100vh !important;
	}
}
.wysiwyg {
	height: 400px;
	border: 1px solid #ced4da;
	.wrapperClass {
		padding: 16px;
	}
}
.imageContainer {
}
