@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../styles/color-rules.scss';
@import '../styles/typography-rules.scss';

.galleryWrapper {
	padding: 16px;
}
.eventDate {
	background-image: linear-gradient(136deg, #d4175c 0%, #fda700 100%);
	// padding: 4px !important;
	// width: 50px;
	text-align: center;
	position: absolute;
	line-height: 0.5;
	padding: 3px !important;
	top: 7%;
	left: 6%;
	color: white;
	width: 60px;
	@include monthFont;
	// 19
	text-transform: uppercase !important;
	padding-bottom: 12px !important;
	span {
		@include dateFont;
		line-height: 1.1;
		//34
		line-break: anywhere;
	}
}
.cardWrapper {
	// box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	// box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	cursor: pointer;
	position: relative;
	margin-bottom: 16px;
	// margin: 8px !important;
	.dataWrapper {
		padding: 16px;
		padding-bottom: 2px;
		text-align: left;
		.eventName {
			@include caption-boldHeading;
			margin-bottom: 8px;
			position: absolute;
			bottom: 111px;
			color: white;
		}
		.eventCaption {
			margin: 0px !important;
			@include caption-boldPara;
			font-weight: 500 !important;
			line-height: 1.1;
		}
	}
	.eventInfo {
		@include caption-mediumPara;
		display: flex;
		cursor: pointer;
		margin-top: 12px;
		.venue {
			margin-right: 24px;
			svg {
				width: 10px;
				margin-right: 4px;
				color: $orange-shade;
			}
			span {
				padding-top: 5px;
			}
		}
		.calendar {
			margin-right: 24px;
			svg {
				width: 10px;
				margin-right: 4px;
				color: $orange-shade;
			}
			span {
				padding-top: 5px;
				margin-left: 3px;
			}
		}
	}
}
.imageContainer {
	position: relative;
	button {
		display: none;
	}
	&:hover {
		img {
			filter: brightness(0.5) !important;
		}
		button {
			display: block;
			position: absolute;
			right: 10%;
			top: 10%;
			color: $white-shade;
		}
	}
}
