@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../styles/color-rules.scss';
@import '../styles/typography-rules.scss';

.interestCategoriesWrapper {
	text-align: center;
	.overlay {
		position: relative;
		width: 221px;
		height: 221px;
		margin-left: auto;
		display: grid;
		margin-right: auto;
		border-radius: 28px;
		p {
			position: absolute;
			color: $white-shade;
			z-index: 1;
			// left: 9%;
			@include caption-heading;
			font-weight: bold;
			font-size: 22px !important;
			bottom: 0%;
			margin-left: 20px;
			text-align: left;
			margin-right: 6px;
		}

		&:hover {
			cursor: pointer;
			p {
				color: $black-shade !important;
			}
			background: $orange-shade;
			div {
				position: absolute;
				width: 221px;
				height: 221px;
				background-color: $orange-shade;
				opacity: 0.6;
				border-radius: 24px;
			}
		}
	}
	img {
		position: relative;
		// filter: brightness(0.45);
		border-radius: 24px;
		cursor: pointer;
	}
}

.brandsImage {
	cursor: pointer !important;
}
.menuImageBackground {
	z-index: 1;
	position: absolute;
	height: 97%;
	width: 60%;
	background: linear-gradient(
		to left,
		rgba(0, 0, 1, 0),
		rgba(0, 0, 0, 0.9)
	) !important;
}
.dealImage {
	z-index: 0;
	// background: linear-gradient(to left, rgba(0, 0, 1, 0), rgba(0, 0, 0, 0.59));
}
.restaurantPage {
	text-align: center;
	.imageWrapper {
		position: relative;
		max-height: 272px !important;
		max-width: 567px;
		margin-left: auto;
		margin-right: auto;
	}

	.dataWrapper {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1 !important;
		color: $white-shade !important;
		text-align: left;
		margin-left: 8%;
		margin-top: 3%;
		width: 80%;
		@media screen and (max-width: 480px) {
			margin-top: 1%;
		}
		.burgerName {
			color: white;
			@include monthFont;
		}
		.price {
			@include caption-heading;
			background-image: $background-shade-2;
			background-image: $background-shade-1;
			// background: -webkit-linear-gradient(#eee, #333);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		.scanButton {
			background-image: linear-gradient(90deg, #d4175c 0%, #fda700 100%);
			// width: 180px;
			// height: 44px;
			width: 129px;
			height: 38px;
			color: white;
			@include body-medium-para;
			border: none;
			// padding: 16px !important;
			border-radius: 49px;
			margin-bottom: 24px !important;
			&:hover {
				box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
			}
		}
	}
}

.becomeMemberModal {
	width: 400px !important;
	text-align: center;
	:first-child {
		padding: 30px;
		padding-bottom: 10px !important;
		background: $orange-shade !important;
		.becomeMemberButton {
			width: 100% !important;
			padding: 22px !important;
			color: $orange-shade !important;
			background: $white-shade !important;
			@include module-semibold-heading;
			font-size: 15px !important ;
			border-color: $white-shade;
		}
		.continueButton {
			width: 100% !important;
			padding: 22px !important;
			border: 1px solid $white-shade !important;
			color: $white-shade !important;
			background: $orange-shade !important;
			@include module-semibold-heading;
			font-size: 15px !important ;
		}
		.orText {
			color: $white-shade;
			font-size: 17px !important;
			font-weight: 600;
			margin-top: 16px !important;
		}
		.alreadyLink {
			margin-top: 40px !important;
			@include module-semibold-heading;
			font-size: 14px !important;
			span {
				padding: 0px !important;
				color: $white-shade !important;
			}
		}
	}
}
.interestModal {
	padding-top: 36px !important;
	@include body-mediumButton;
	// color: $orange-shade;
}
.interestModalButton {
	background-image: linear-gradient(90deg, #d4175c 0%, #fda700 100%);
	color: black;
	border: none !important;
	@include caption-boldHeading;
	// &:hover {
	// 	background: black;
	// }
}
// @include caption-heading;
