@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../styles/color-rules.scss';
@import '../styles/typography-rules.scss';

.heading {
	@include monthFont;
	padding-bottom: 14px !important;
	border-bottom: 1px solid;
}
.userEventWrapper {
	.tabNav {
		margin-top: 20px !important;
		.navItem {
			margin: 0px 12px !important;
			a {
				color: $black-shade;
			}
		}
		.active {
			padding: 8px 32px !important;
			background: $orange-shade !important;
			color: $white-shade !important;
			border-radius: 0px !important;
		}
	}
	.eventCard {
		margin: 12px 0px !important;
		margin-right: 24px !important;
		// height: 170px !important;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
			rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
		padding: 10px !important;
		position: relative;
		.imageDivider {
			position: absolute;
			border: 4px solid $orange-shade;
			position: absolute;
			left: 204px;
			bottom: 57px;
			padding-top: 72px;
		}
		.eventData {
			padding-left: 24px !important;
			margin-top: 18px !important;
			.eventName {
				margin-bottom: 3px !important;
			}
			.price {
				@include caption-boldPara;
				color: $orange-shade !important;
				text-transform: uppercase;
				margin: 7px 0px !important;
			}
			.description {
				margin: 0px !important;
				@include caption-boldPara;
				font-weight: 500 !important;
				line-height: 1.1;
				margin-right: 40px !important;
			}
			.eventDetail {
				@include caption-mediumPara;
				margin-top: 8px !important;
			}
			.bookNowButton {
				float: right;
				background-image: linear-gradient(136deg, #d4175c 0%, #fda700 100%);
				border-radius: 50px !important;
				padding: 2px 16px !important;
				border: 1px solid white;
				color: white !important;
				@include caption-mediumButton;
				height: 30px !important;
			}
		}
	}
}
.userProfileWrapper {
	.userName {
		@include caption-sub-heading;
		margin: 0px;
		margin-top: 20px !important;
	}
	.userImage {
		border-radius: 50% !important;
	}
	.userID {
		@include body-medium-para;
		color: $moderate-grey-shade;
		margin: 0px;
	}
	.verifiedAccount {
		@include caption-mediumLink;
		color: $green-dark-shade !important;
	}
	.editPhone {
		margin-top: 30px !important;
		float: right !important;
		height: 60px !important;
		width: 280px !important;
		background: $grey-shadow;
		padding: 10px !important;
		display: inline-flex;
		svg {
			cursor: pointer;
			margin-top: 6px !important;
			margin-left: auto;
			order: 2;
		}
		.verifiedMobileLabel {
			margin: 0px !important;
			@include caption-boldPara;
		}
		.phone {
			@include body-Bold16;
		}
	}
}
.price {
	@include caption-boldPara;
	color: $orange-shade !important;
	text-transform: uppercase;
	margin: 7px 0px !important;
}

.buyTicketButton {
	background-image: linear-gradient(136deg, #d4175c 0%, #fda700 100%);
	padding: 10px 14px !important;
	border: 1px solid white;
	color: white !important;
	@include body-Regular16;
	// height: 30px !important;
}

.cancelEventButton {
	border: 1px solid $dark-grey-shade;
	padding: 9px 13px !important;
	margin-left: 32px !important;
	background-color: $white-shade;
	color: $dark-grey-shade !important;
	@include body-Regular16;
	&:hover {
		background-color: $white-shade;
	}
}
