@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../styles/color-rules.scss';
@import '../styles/typography-rules.scss';

.cardWrapper {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
		rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; // margin: 8px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	padding-bottom: 12px;
	.dataWrapper {
		padding-top: 20%;
		padding-left: 1% !important;
		padding-bottom: 18px !important;
		text-align: left;
		.eventName {
			@include caption-boldHeading;
			margin-bottom: 8px;
			padding-right: 8px !important;
		}
		.price {
			@include caption-boldPara;
			color: $orange-shade !important;
			text-transform: uppercase;
			margin-bottom: 16%;
			margin-top: 16%;
		}
		.venue {
			@include caption-mediumPara;
			margin: 7% 0px;
		}
	}
	.bookNow {
		background-image: $background-shade-2;
		background-image: $background-shade-1;
		border-radius: 50px !important;
		padding: 2px 7px !important;
		border: 1px solid white;
		color: white !important;
		@include caption-mediumButton;
		height: 34px !important;
	}
	.moreDetail {
		color: $orange-shade;
		margin-top: 11px;
		cursor: pointer;
		margin-left: 24px !important;
		@include caption-mediumLink;
	}
	// .eventInfo {
	// 	@include caption-mediumPara;
	// 	display: flex;
	// 	cursor: pointer;
	// 	margin-top: 12px;
	// 	.venue {
	// 		margin-right: 24px;
	// 		svg {
	// 			width: 10px;
	// 			margin-right: 4px;
	// 			color: $orange-shade;
	// 		}
	// 		span {
	// 			padding-top: 5px;
	// 		}
	// 	}
	// 	.calendar {
	// 		margin-right: 24px;
	// 		svg {
	// 			width: 10px;
	// 			margin-right: 4px;
	// 			color: $orange-shade;
	// 		}
	// 		span {
	// 			padding-top: 5px;
	// 			margin-left: 3px;
	// 		}
	// 	}
	// }
}

// .heading {
// 	@include caption-boldHeading;
// 	margin: 8px 0px;
// }
// .price {
// 	@include caption-boldPara;
// 	color: $orange-shade !important;
// 	text-transform: uppercase;
// 	margin: 0px;
// }
// .venue {
// 	@include caption-mediumPara;
// 	margin: 8px 0px;
// }

// .divider {
// 	top: 52px !important;
// 	left: -1px !important;
// 	border-left: 5px solid $orange-shade !important;
// 	height: 84px !important;
// 	position: absolute !important;
// }
